In [1]:
from datetime import datetime

In [2]:
df = pd.read_csv('/Users/dima/Downloads/utah_data_aug_30.csv')
df.shape

(911897, 14)

In [43]:
cols_to_save = list(pd.read_csv('/Users/dima/Downloads/utah_data_aug_30.csv').columns)
cols_to_save

['Unnamed: 0',
 '_id',
 'req_id',
 'req_country_name',
 'race',
 'gender',
 'Industry Experience Grade',
 'Location Grade',
 'Skills Match Grade',
 'Education Grade',
 'years_of_experience',
 'rel_years_of_experience',
 'Top Category',
 'round_grade']

In [49]:
df.head()

,Unnamed: 0,_id,req_id,req_country_name,race,gender,Industry Experience Grade,Location Grade,Skills Match Grade,Education Grade,years_of_experience,rel_years_of_experience,Top Category,round_grade,fixed_years_of_experience,app,fixed_rel_years_of_experience,parsing_date,last_final_score_update,_updated_at
0,0,UNLR-18863_UNLREC_001432481,UNLR-18863,Netherlands,NONE,NONE,0.0,0.0,0.007752,0.5,Beteen 1 to 2,Beteen 0 to 1,Supply_Chain_Management,1.0,Between 1 to 2,"{'_id': 'UNLR-18863_UNLREC_001432481', '_updat...",Between 0 to 1,2022-09-08 18:13:06.769,2022-01-24 17:12:10.557,2024-01-01 08:14:23.665
1,1,UNLR-18863_UNLREC_001500192,UNLR-18863,Netherlands,NONE,NONE,1.0,0.0,0.015504,1.0,Beteen 8 to 12,Beteen 2 to 5,Supply_Chain_Management,2.0,Between 8 to 12,"{'_id': 'UNLR-18863_UNLREC_001500192', '_updat...",Between 2 to 5,2022-09-08 18:13:03.880,2022-01-25 09:06:49.768,2024-01-01 08:14:23.665
2,2,UNLR-18863_UNLREC_000718117,UNLR-18863,Netherlands,NONE,NONE,0.0,1.0,0.007752,0.5,Beteen 5 to 8,greater than 12,Supply_Chain_Management,1.0,Between 5 to 8,"{'_id': 'UNLR-18863_UNLREC_000718117', '_updat...",0,2022-09-08 18:13:04.766,2022-01-25 14:10:48.650,2024-01-01 08:14:23.665
3,3,UNLR-18863_UNLREC_001394013,UNLR-18863,Netherlands,NONE,NONE,0.0,NaN,0.000000,1.0,greater than 12,Beteen 5 to 8,Supply_Chain_Management,4.0,greater than 12,"{'_id': 'UNLR-18863_UNLREC_001394013', '_updat...",Between 5 to 8,2022-09-08 18:13:06.399,2022-01-25 16:25:54.249,2024-01-01 08:14:23.665
4,4,UNLR-18863_UNLREC_000001548,UNLR-18863,Netherlands,NONE,NONE,0.0,0.0,0.007752,0.5,greater than 12,Beteen 0 to 1,Supply_Chain_Management,1.0,greater than 12,"{'_id': 'UNLR-18863_UNLREC_000001548', '_updat...",Between 0 to 1,2022-09-08 18:13:07.186,2022-01-25 16:48:49.738,2024-01-01 08:14:23.665

In [50]:
ids = [
    'UNLR-46157_UNLREC_002389751',
'UNLR-29662_UNLREC_001457032',
'UNLR-45750_UNLREC_002171268',
'UNLR-46122_UNLREC_002682171',
]

In [51]:
df[df['_id'].isin(ids)]

,Unnamed: 0,_id,req_id,req_country_name,race,gender,Industry Experience Grade,Location Grade,Skills Match Grade,Education Grade,years_of_experience,rel_years_of_experience,Top Category,round_grade,fixed_years_of_experience,app,fixed_rel_years_of_experience,parsing_date,last_final_score_update,_updated_at
7247,7247,UNLR-29662_UNLREC_001457032,UNLR-29662,Brazil,White,Male,0.0,1.0,0.0,0.5,Beteen 2 to 5,greater than 12,Engineering,1.0,Between 2 to 5,"{'_id': 'UNLR-29662_UNLREC_001457032', '_updat...",0,2022-11-29 08:24:24.231,2022-01-11 01:11:51.709,2023-08-07 02:04:38.015
319612,319612,UNLR-45750_UNLREC_002171268,UNLR-45750,Argentina,NONE,Female,0.0,1.0,0.0,0.0,Beteen 0 to 1,greater than 12,Engineering,1.0,Between 0 to 1,"{'_id': 'UNLR-45750_UNLREC_002171268', '_updat...",0,2024-01-01 08:20:42.580,2022-09-13 12:36:17.309,2024-01-01 08:20:43.142
328036,328036,UNLR-46122_UNLREC_002682171,UNLR-46122,Indonesia,NONE,Female,0.0,0.0,0.0,0.0,Beteen 1 to 2,greater than 12,Marketing,1.0,Between 1 to 2,"{'_id': 'UNLR-46122_UNLREC_002682171', '_updat...",0,2023-07-03 11:36:16.185,2023-07-03 11:36:17.479,2023-08-07 08:41:05.027
332351,332351,UNLR-46157_UNLREC_002389751,UNLR-46157,United Kingdom,White,Male,0.0,0.0,0.0,0.0,Beteen 0 to 1,greater than 12,Accounting_&_Finance,1.0,UNK,None,UNK,NaT,NaT,NaT

In [7]:
mongo = gmcdb('production', 'utah')

In [8]:
proj = ['grade_data.years_of_relevant_experience_insight', 'samurai_json.total_years_of_experience', 
        'samurai_json.parsing_date', 'grade_data.last_final_score_update', '_updated_at']

In [9]:
apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}
len(apps)

2024-03-19T15:35:45.083119Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=70588.919 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=896544303 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:36:49.871705Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=64739.808 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=704877633 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:37:54.895779Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=64973.927 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=585640194 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:39:01.001875Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=66055.155 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=1083454666 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:40:05.688906Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=64634.978 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=2020739063 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:41:09.337442Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=63593.413 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=1908194298 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:42:12.345613Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=62954.778 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=616783871 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:43:13.895866Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=61496.532 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=456880399 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:44:14.335068Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=60384.984 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=681910962 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:45:17.456203Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=63065.216 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=2051724831 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:46:17.484593Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=59965.203 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=272112289 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:47:17.206617Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=59666.877 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=304987844 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:48:18.912495Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=61650.235 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=750597385 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:49:19.710713Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=60743.203 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=1755699915 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:50:23.157646Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=63354.157 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=1154112991 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

2024-03-19T15:51:00.696090Z [warning  ] SlowLog                        command_name=getMore connection_id=applicativedb-prod-mongos-4.omcomcom.com:27017 duration_ms__numeric=37481.266 duration_threshold__numeric=10000 environment=local file_path=/Users/dima/hiredscore/gimme/hs_gimme/db_facade/slow_logs_utils.py function_name=write_slow_log hostname=Dima-Shulga-MacBook-Pro line_number=11 module=hs_gimme.db_facade.slow_logs_utils pid=9730 request_id=41000625 source=PyMongo stack_snippet=
  File "/var/folders/_p/8_m91crj199_rd7sndkxncc80000gp/T/ipykernel_9730/2715272688.py", line 1, in <dictcomp>
    apps = {a['_id']: a for a in mongo.application.find({'req_id': {'$in': list(df['req_id'].unique())}}, proj)}

1104052

In [10]:
def get_years_of_experience_group(years):
    years_from = 0

    if years is None:
        return 'UNK'
        
    if years == 0 :
        return '0'
        
    for years_to in [0, 1, 2, 5, 8, 12]:
        if years_from < years <= years_to:
            return f'Between {years_from} to {years_to}'
        
        years_from = years_to
            
    return 'greater than 12'

In [11]:
df['fixed_years_of_experience'] = df.apply(lambda r: get_years_of_experience_group(apps[r['_id']]['samurai_json']['total_years_of_experience']) if r['_id'] in apps and 'samurai_json' in apps[r['_id']] else None, axis=1).fillna('UNK')

In [12]:
df['fixed_years_of_experience'].value_counts()

Between 2 to 5     202764
greater than 12    195095
Between 5 to 8     154568
Between 8 to 12    140336
0                   81446
Between 1 to 2      61705
Between 0 to 1      53529
UNK                 22454
Name: fixed_years_of_experience, dtype: int64

In [13]:
df['app'] = df['_id'].apply(lambda x: apps[x] if x in apps else None)

In [14]:
df['fixed_rel_years_of_experience'] = df.apply(lambda r: get_years_of_experience_group(apps[r['_id']]['grade_data']['years_of_relevant_experience_insight']) if r['_id'] in apps and 'grade_data' in apps[r['_id']] else None, axis=1).fillna('UNK')

In [15]:
df['fixed_rel_years_of_experience'].value_counts()

0                  306469
Between 2 to 5     165123
Between 5 to 8     101206
Between 0 to 1      84860
Between 8 to 12     79122
greater than 12     76966
Between 1 to 2      75157
UNK                 22994
Name: fixed_rel_years_of_experience, dtype: int64

In [16]:
df[df['fixed_years_of_experience'] == 'greater than 12'].head()['app'].values

array([{'_id': 'UNLR-18863_UNLREC_001394013', '_updated_at': datetime.datetime(2024, 1, 1, 8, 14, 23, 665000), 'grade_data': {'years_of_relevant_experience_insight': 6.32054794520548, 'last_final_score_update': datetime.datetime(2022, 1, 25, 16, 25, 54, 249000)}, 'samurai_json': {'parsing_date': datetime.datetime(2022, 9, 8, 18, 13, 6, 399000), 'total_years_of_experience': 13.695890410958906}},
       {'_id': 'UNLR-18863_UNLREC_000001548', '_updated_at': datetime.datetime(2024, 1, 1, 8, 14, 23, 665000), 'grade_data': {'years_of_relevant_experience_insight': 0.9041095890410958, 'last_final_score_update': datetime.datetime(2022, 1, 25, 16, 48, 49, 738000)}, 'samurai_json': {'parsing_date': datetime.datetime(2022, 9, 8, 18, 13, 7, 186000), 'total_years_of_experience': 13.616438356164384}},
       {'_id': 'UNLR-18863_UNLREC_000759941', '_updated_at': datetime.datetime(2024, 1, 1, 8, 14, 23, 665000), 'grade_data': {'years_of_relevant_experience_insight': 11.495890410958904, 'last_final_score_update': datetime.datetime(2022, 1, 26, 8, 29, 14, 71000)}, 'samurai_json': {'parsing_date': datetime.datetime(2022, 9, 2, 11, 53, 44, 45000), 'total_years_of_experience': 25.09589041095891}},
       {'_id': 'UNLR-18863_UNLREC_000104815', '_updated_at': datetime.datetime(2024, 1, 1, 8, 14, 23, 665000), 'grade_data': {'years_of_relevant_experience_insight': 14.0986301369863, 'last_final_score_update': datetime.datetime(2022, 1, 26, 16, 44, 41, 652000)}, 'samurai_json': {'parsing_date': datetime.datetime(2022, 9, 8, 18, 13, 10, 284000), 'total_years_of_experience': 14.098630136986301}},
       {'_id': 'UNLR-18863_UNLREC_000580538', '_updated_at': datetime.datetime(2024, 1, 1, 8, 14, 23, 665000), 'grade_data': {'years_of_relevant_experience_insight': 15.41917808219178, 'last_final_score_update': datetime.datetime(2022, 1, 27, 8, 27, 7, 117000)}, 'samurai_json': {'parsing_date': datetime.datetime(2022, 9, 8, 18, 13, 8, 958000), 'total_years_of_experience': 16.372602739726027}}],
      dtype=object)

In [17]:
x = df[(df['fixed_years_of_experience'] != df['years_of_experience'].apply(lambda x: x.replace('Beteen', 'Between'))) & (df['fixed_years_of_experience'] != 'UNK')]

In [18]:
df.groupby(['years_of_experience', 'fixed_years_of_experience'])[['_id']].count()

                                                  _id
years_of_experience fixed_years_of_experience
Beteen 0 to 1       Between 0 to 1              53528
                    Between 1 to 2                338
                    Between 2 to 5                  2
                    UNK                           815
Beteen 1 to 2       0                               1
                    Between 1 to 2              61367
                    Between 2 to 5               1133
                    UNK                          1294
Beteen 2 to 5       Between 2 to 5             201629
                    Between 5 to 8               1890
                    Between 8 to 12                 3
                    UNK                          5334
                    greater than 12                 2
Beteen 5 to 8       Between 5 to 8             152674
                    Between 8 to 12              1458
                    UNK                          4561
                    greater than 12                 2
Beteen 8 to 12      Between 5 to 8                  4
                    Between 8 to 12            138874
                    UNK                          3978
                    greater than 12               922
greater than 12     0                           81445
                    Between 0 to 1                  1
                    Between 8 to 12                 1
                    UNK                          6472
                    greater than 12            194169

In [19]:
df['parsing_date'] = df['app'].apply(lambda app: app['samurai_json'].get('parsing_date', None) if app and 'samurai_json' in app else None)
df['parsing_date'].isna().mean()

0.02464642388339911

In [26]:
df['last_final_score_update'] = df['app'].apply(lambda app: app['grade_data'].get('last_final_score_update', None) if app and 'grade_data' in app else None)
df['last_final_score_update'].isna().mean()

0.025215567109004636

In [30]:
df['_updated_at'] = df['app'].apply(lambda app: app.get('_updated_at', None) if app  else None)
df['_updated_at'].isna().mean()

0.02461462204613021

In [31]:
mask = (df['_updated_at'] < datetime(2023, 8, 30))

In [32]:
mask.mean()

0.4583861993185634

In [33]:
df[mask].groupby(['years_of_experience', 'fixed_years_of_experience'])[['_id']].count()

                                                 _id
years_of_experience fixed_years_of_experience
Beteen 0 to 1       Between 0 to 1             27580
                    Between 1 to 2                22
Beteen 1 to 2       Between 1 to 2             28638
                    Between 2 to 5                 9
Beteen 2 to 5       Between 2 to 5             91765
                    Between 5 to 8                53
Beteen 5 to 8       Between 5 to 8             68146
                    Between 8 to 12               11
Beteen 8 to 12      Between 8 to 12            62285
                    greater than 12               12
greater than 12     0                          52567
                    greater than 12            86913

In [34]:
df[mask].groupby(['rel_years_of_experience', 'fixed_rel_years_of_experience'])[['_id']].count()

                                                          _id
rel_years_of_experience fixed_rel_years_of_experience
Beteen 0 to 1           0                                   5
                        Between 0 to 1                  38308
                        Between 1 to 2                      1
                        Between 2 to 5                      1
                        Between 5 to 8                      1
Beteen 1 to 2           0                                   1
                        Between 0 to 1                      1
                        Between 1 to 2                  33300
                        Between 2 to 5                      8
                        Between 8 to 12                     2
Beteen 2 to 5           0                                   5
                        Between 0 to 1                      2
                        Between 1 to 2                      6
                        Between 2 to 5                  72709
                        Between 5 to 8                      3
                        Between 8 to 12                     4
Beteen 5 to 8           0                                   3
                        Between 2 to 5                      4
                        Between 5 to 8                  43621
                        Between 8 to 12                     3
Beteen 8 to 12          Between 2 to 5                      1
                        Between 5 to 8                      4
                        Between 8 to 12                 34441
                        greater than 12                     3
greater than 12         0                              163375
                        Between 0 to 1                      5
                        Between 1 to 2                      2
                        Between 2 to 5                     10
                        Between 5 to 8                      4
                        Between 8 to 12                     7
                        greater than 12                 32161

In [35]:
df.groupby(['rel_years_of_experience', 'fixed_rel_years_of_experience'])[['_id']].count()

                                                          _id
rel_years_of_experience fixed_rel_years_of_experience
Beteen 0 to 1           0                                  47
                        Between 0 to 1                  84361
                        Between 1 to 2                    155
                        Between 2 to 5                     98
                        Between 5 to 8                     13
                        Between 8 to 12                     6
                        UNK                              2430
                        greater than 12                     4
Beteen 1 to 2           0                                  18
                        Between 0 to 1                     24
                        Between 1 to 2                  74734
                        Between 2 to 5                    217
                        Between 5 to 8                     21
                        Between 8 to 12                     7
                        UNK                              2211
                        greater than 12                     4
Beteen 2 to 5           0                                  34
                        Between 0 to 1                     16
                        Between 1 to 2                     44
                        Between 2 to 5                 164543
                        Between 5 to 8                    135
                        Between 8 to 12                    27
                        UNK                              4941
                        greater than 12                    12
Beteen 5 to 8           0                                  10
                        Between 0 to 1                      5
                        Between 1 to 2                      3
                        Between 2 to 5                     32
                        Between 5 to 8                 100941
                        Between 8 to 12                    61
                        UNK                              3276
                        greater than 12                    13
Beteen 8 to 12          0                                   7
                        Between 1 to 2                      1
                        Between 2 to 5                     10
                        Between 5 to 8                     28
                        Between 8 to 12                 78974
                        UNK                              2560
                        greater than 12                    46
greater than 12         0                              306353
                        Between 0 to 1                    454
                        Between 1 to 2                    220
                        Between 2 to 5                    223
                        Between 5 to 8                     68
                        Between 8 to 12                    47
                        UNK                              7576
                        greater than 12                 76887

In [38]:
for r in df[(df['rel_years_of_experience'] == 'Beteen 0 to 1') & (df['fixed_rel_years_of_experience'] == 'Between 8 to 12')].iterrows():
    print(r)
    print()

(479391, Unnamed: 0                                                                  479391
_id                                                    UNLR-52706_UNLREC_002443115
req_id                                                                  UNLR-52706
req_country_name                                                             India
race                                                                          NONE
gender                                                                        Male
Industry Experience Grade                                                      0.0
Location Grade                                                                 1.0
Skills Match Grade                                                        0.970874
Education Grade                                                               0.75
years_of_experience                                                 Beteen 8 to 12
rel_years_of_experience                                              Beteen 0 to 1
Top Category                                                             Marketing
round_grade                                                                    2.0
fixed_years_of_experience                                          Between 8 to 12
app                              {'_id': 'UNLR-52706_UNLREC_002443115', '_updat...
fixed_rel_years_of_experience                                      Between 8 to 12
parsing_date                                            2024-01-12 14:45:10.960000
last_final_score_update                                 2023-10-07 14:23:40.470000
_updated_at                                             2024-01-12 22:22:07.614000
Name: 479391, dtype: object)

(768972, Unnamed: 0                                                                  768972
_id                                                    UNLR-61592_UNLREC_002952096
req_id                                                                  UNLR-61592
req_country_name                                                            Brazil
race                                                                         White
gender                                                                        Male
Industry Experience Grade                                                      0.0
Location Grade                                                                 0.0
Skills Match Grade                                                        0.053061
Education Grade                                                               0.75
years_of_experience                                                 Beteen 8 to 12
rel_years_of_experience                                              Beteen 0 to 1
Top Category                                             IT_&_Software_Development
round_grade                                                                    1.0
fixed_years_of_experience                                          greater than 12
app                              {'_id': 'UNLR-61592_UNLREC_002952096', '_updat...
fixed_rel_years_of_experience                                      Between 8 to 12
parsing_date                                            2023-09-25 19:19:35.024000
last_final_score_update                                 2023-09-25 19:19:36.086000
_updated_at                                             2023-10-13 11:28:36.357000
Name: 768972, dtype: object)

(847376, Unnamed: 0                                                                  847376
_id                                                    UNLR-64377_UNLREC_003310461
req_id                                                                  UNLR-64377
req_country_name                                                    United Kingdom
race                                                                         White
gender                                                                        Male
Industry Experience Grade                                                      0.0
Location Grade                                                                 0.0
Skills Match Grade                                                             0.0
Education Grade                                                                1.0
years_of_experience                                                greater than 12
rel_years_of_experience                                              Beteen 0 to 1
Top Category                                                             Marketing
round_grade                                                                    1.0
fixed_years_of_experience                                          greater than 12
app                              {'_id': 'UNLR-64377_UNLREC_003310461', '_updat...
fixed_rel_years_of_experience                                      Between 8 to 12
parsing_date                                            2023-10-20 04:39:57.298000
last_final_score_update                                 2023-10-20 04:40:03.124000
_updated_at                                             2023-12-20 15:18:29.392000
Name: 847376, dtype: object)

(898971, Unnamed: 0                                                                  898971
_id                                                    UNLR-66513_UNLREC_002873405
req_id                                                                  UNLR-66513
req_country_name                                                             India
race                                                                          NONE
gender                                                                      Female
Industry Experience Grade                                                      0.0
Location Grade                                                                 1.0
Skills Match Grade                                                             0.0
Education Grade                                                                1.0
years_of_experience                                                 Beteen 8 to 12
rel_years_of_experience                                              Beteen 0 to 1
Top Category                                                  Accounting_&_Finance
round_grade                                                                    3.0
fixed_years_of_experience                                          Between 8 to 12
app                              {'_id': 'UNLR-66513_UNLREC_002873405', '_updat...
fixed_rel_years_of_experience                                      Between 8 to 12
parsing_date                                            2023-10-19 21:37:38.215000
last_final_score_update                                 2023-10-19 21:37:40.354000
_updated_at                                             2023-10-19 21:39:53.991000
Name: 898971, dtype: object)

(899007, Unnamed: 0                                                                  899007
_id                                                    UNLR-66513_UNLREC_003438792
req_id                                                                  UNLR-66513
req_country_name                                                             India
race                                                                          NONE
gender                                                                      Female
Industry Experience Grade                                                      0.0
Location Grade                                                                 1.0
Skills Match Grade                                                             0.0
Education Grade                                                                1.0
years_of_experience                                                 Beteen 8 to 12
rel_years_of_experience                                              Beteen 0 to 1
Top Category                                                  Accounting_&_Finance
round_grade                                                                    1.0
fixed_years_of_experience                                          Between 8 to 12
app                              {'_id': 'UNLR-66513_UNLREC_003438792', '_updat...
fixed_rel_years_of_experience                                      Between 8 to 12
parsing_date                                            2023-12-25 12:48:25.594000
last_final_score_update                                 2023-12-25 12:48:26.480000
_updated_at                                             2023-12-25 12:48:26.663000
Name: 899007, dtype: object)

(904993, Unnamed: 0                                                                  904993
_id                                                    UNLR-66747_UNLREC_001415076
req_id                                                                  UNLR-66747
req_country_name                                                            Brazil
race                                                                         White
gender                                                                      Female
Industry Experience Grade                                                      0.0
Location Grade                                                                 1.0
Skills Match Grade                                                             0.0
Education Grade                                                                1.0
years_of_experience                                                greater than 12
rel_years_of_experience                                              Beteen 0 to 1
Top Category                                                       Human_Resources
round_grade                                                                    4.0
fixed_years_of_experience                                          greater than 12
app                              {'_id': 'UNLR-66747_UNLREC_001415076', '_updat...
fixed_rel_years_of_experience                                      Between 8 to 12
parsing_date                                            2023-09-25 16:34:57.022000
last_final_score_update                                 2023-09-25 16:35:00.450000
_updated_at                                             2023-10-13 11:34:14.017000
Name: 904993, dtype: object)

In [40]:
r[1]['app']

{'_id': 'UNLR-66747_UNLREC_001415076',
 '_updated_at': datetime.datetime(2023, 10, 13, 11, 34, 14, 17000),
 'grade_data': {'years_of_relevant_experience_insight': 10.81095890410959,
  'last_final_score_update': datetime.datetime(2023, 9, 25, 16, 35, 0, 450000)},
 'samurai_json': {'parsing_date': datetime.datetime(2023, 9, 25, 16, 34, 57, 22000),
  'total_years_of_experience': 14.506849315068493}}

In [44]:
cols_to_save += ['fixed_years_of_experience', 'fixed_rel_years_of_experience']

In [48]:
df[cols_to_save].to_csv('/Users/dima/Downloads/utah_data_aug_30_updated_2024_03_20.csv')

In [52]:
df['mapped_years'] = df['years_of_experience'].apply(lambda x: int(x.split()[-1]))

In [55]:
df['mapped_fixed_years'] = df['fixed_years_of_experience'].apply(lambda x: int(x.split()[-1]) if x != 'UNK' else None)

In [56]:
df['mapped_fixed_rel_years_of_experience'] = df['fixed_rel_years_of_experience'].apply(lambda x: int(x.split()[-1]) if x != 'UNK' else None)

In [57]:
(df['mapped_fixed_rel_years_of_experience'] > df['mapped_fixed_years']).mean()

0.004042123178385278

In [61]:
df[df['mapped_fixed_rel_years_of_experience'] > df['mapped_fixed_years']].iloc[0]['app']

{'_id': 'UNLR-26714_UNLREC_001266367',
 '_updated_at': datetime.datetime(2024, 3, 1, 8, 21, 49, 88000),
 'grade_data': {'years_of_relevant_experience_insight': 4.254794520547946,
  'last_final_score_update': datetime.datetime(2022, 1, 31, 14, 31, 20, 646000)},
 'samurai_json': {'parsing_date': datetime.datetime(2023, 1, 15, 11, 15, 40, 502000),
  'total_years_of_experience': 1.0821917808219177}}